{% extends 'base.html' %}

<!--Main content including form-->
{% block main %}
    <h1>Attendance Checker</h1>
    <p class="fs-5 col-12">Check for students' attendance in WSG portal with ease using this simple webapp.</p>
    <p>Enter url link for session:</p>
    <form method="post" id="attendance_form">
    <div class="mb-3">
        <input type="text" class="form-control" placeholder="Copy and paste the WSG session link here" name="urllink" input="{{ request.form['urllink'] }}"></input>
    </div>
    <div class="row mb-3">
        <div class="col-sm-4 md-3">
            <select class="form-control ", name="cohort" form="attendance_form" input="{{ request.form['cohort'] }}">
                <option value="jan2023">January batch</option>
                <option value="feb2023">February batch</option>
            </select>
        </div>
    </div>

    {% block error %} {% endblock %}

    <div class="mb-2">
        <button type="submit" class="btn btn-primary btn-lg px-4">Start</button>
    </div>
    </form>
{% endblock %}

<!--Lower content-->
{% block lower %}
    {% block session_info %} {% endblock %}
    <div class="row g-5">
        <div class="col-md-6">
        <h2>Attendance taken</h2>
        <ul class="icon-list ps-0">
            {% block left %}
            <li class="text-muted d-flex align-items-start mb-1">No attendance taken yet</li>
            {% endblock %}
        </ul>
        </div>

        <div class="col-md-6">
            <h2>Attendance not taken</h2>
            <ul class="icon-list ps-0">
                {% block right %}
                <li class="text-muted d-flex align-items-start mb-1">No attendance taken yet</li>
                {% endblock %}
            </ul>
        </div>
    </div>
{% endblock %}